*{
    font-family: 'Titillium Web'!important;
}

nav ul a:hover {
    background-color: transparent!important;
    font-family: Titillium Web;
    border-bottom: 3px solid #D8212A !important;
}

nav ul a:hover {
    background-color: transparent!important;
    font-family: Titillium Web;
    /* border-bottom: 3px solid #D8212A !important; */
}

header{
    height: 170px;
}

header .principal {
    height: 170px!important;
    background-color: white;
    font-family: 'Titillium Web';
    display: table;
}

.logo_header{
    display: table-cell;
    vertical-align: middle;
}

.img_logo{
    margin-top: 10%;
}

.items_head a{
    color: #727172;
    font-weight: 600;
    font-size: 17px;
}

.items_head a:hover{
    color: #727172;
    font-weight: 600;
    font-size: 17px;
    border-bottom: none!important;
}

.items_header a{
    color: #727174;
    font-size: 18px;
}

.activo{
    border-bottom: 3px solid #D8212A;
}

nav ul a:hover {
    background-color: transparent!important;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  1180 px <<<<<<*/
@media only screen and (max-width: 600px) {

}

nav ul a {
    padding: 0 20px!important;
}
